asgiref==3.8.1
certifi==2024.6.2
charset-normalizer==3.3.2
Django==5.0.4
django-simple-history==3.7.0
guidata==3.5.0
h5py==3.11.0
idna==3.7
kaleido==0.2.1
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.3.0
plotly==5.22.0
PlotPy==2.3.2
psycopg2==2.9.9
python-dateutil==2.9.0.post0
PythonQwt==0.12.1
pytz==2024.1
QtPy==2.4.1
requests==2.32.3
scipy==1.13.1
six==1.16.0
sqlparse==0.4.4
tenacity==8.3.0
tifffile==2024.5.22
tomli==2.0.1
tzdata==2024.1
urllib3==2.2.1
