body { 
    background-color: #f0f0f0;
    overflow-x: hidden; 
}

.container-log {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form {
    background-color: #f6f6f6;
    margin-right: 0px;
}

form input[type="text"] {
    width: 100%;
    height: 45px;
    padding: 3px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px #f8c325;
}

form input[type="email"] {
    width: 100%;
    height: 45px;
    padding: 3px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px #f8c325;
}

form input[type="date"] {
    width: 100%;
    height: 45px;
    padding: 3px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px #f8c325;
}

.form-control {
    width: 100%;
    height: 45px;
    padding: 3px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px #f8c325;
}

form input[type="password"] {
    width: 100%;
    height: 45px;
    padding: 3px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px #f8c325;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
}

form button[type="submit"] {
    width: 50%;
    height: 100%;
    background-color: #f8c325;
    color: white;
    font-size: large;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding: 7px 25px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #5da130;
}