{% extends 'main/base.html' %}

{% block content %}
<h1>Список упражнений</h1>
<div class="btn-container">
    <a href="{% url 'exercise_create' %}" class="btn btn-primary">Добавить упражнение</a>
</div>

<ul>
    {% for exercise in exercises %}
    <li>
        <a href="{% url 'exercise_detail' exercise.pk %}">{{ exercise.title }} - {{ exercise.date }}</a>
        <a href="{% url 'exercise_update' exercise.pk %}">Редактировать</a>
        <a href="{% url 'exercise_delete' exercise.pk %}">Удалить</a>
    </li>
    {% endfor %}
</ul>
<div class="container-button"><a href="{% url 'view_expert_profile' expert.pk %}" class="btn-btn-primary">Перейти в профиль тренера</a></div>
{% endblock %}
