{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'profiles/css/calory_profile_edit.css' %}" type="text/css" media="all">

<div class="page-wrapper">
    <div class="container-edit">
        <div class="form-container">
            <form method="post" class="login-edit">
                
                <div class="form-wrapper">
                    <div class="row">
                        <div class="col-20">
                            <div class="text-wrapper">
                                <h2>Редактирование профиля калорий</h2>
                            </div>
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <div class="col-20">
                            <div class="text-wrapper">
                                <h2>Время приема пищи</h2>
                            </div>
                            {{ time_table_form.as_p }}
                        </div>
                        <div class="col-20">
                            <div class="text-wrapper">
                                <h2>Тренировочные сессии</h2>
                            </div>
                            {{ formset.management_form }}
                            {% for form in formset %}
                                {{ form.as_p }}
                                {% if form.instance.pk %}
                                    <input type="checkbox" name="form-{{ forloop.counter0 }}-DELETE" id="id_form-{{ forloop.counter0 }}-DELETE">
                                    <label for="id_form-{{ forloop.counter0 }}-DELETE">Удалить</label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="button-wrapper">    
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
            <!--
            <div class="login-text">
                <div class="text1-wrapper">
                    <p>СУПЕР ДУПЕР ИКОНКА</p>
                    <p>Добро пожаловать! Пожалуйста, введите свои учетные данные, чтобы войти в систему. Если у вас нет учетной записи, пожалуйста, зарегистрируйтесь.</p>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
{% endblock %}
