{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'profile/css/forms.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'activity/css/index.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'colories/css/meal_record_create.css' %}" type="text/css" media="all">


<body>
    <img src="{% static 'main/img/name1.png' %}" alt="img" class="img">
    <h1>СОРЕВНОВАНИЯ ПОЯВЯТСЯ ЧУТЬ ПОЗЖЕ</h1>
    <h2>ПОКА КОПИТЕ СИЛЫ, ЧТОБЫ ПРИНЯТЬ В НИХ УЧАСТИЕ И ЗАНЯТЬ ПРИЗОВЫЕ МЕСТА</h2>
    <p>С УВАЖЕНИЕМ ВАША КОМАНДА BODY BALANCE</p>
</body>

{% endblock %}