* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
}

.calendar-container {
    width: 90%;
    margin: 20px auto;
    background-color: #f6f6f6;
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    justify-items: center;
    width: 22%;
    margin-left: 39%;
}

.calendar-header h2 {
    margin: 0;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px; /* Расстояние между квадратиками */
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание содержимого вверх */
    align-items: flex-end; /* Выравнивание содержимого вправо */
    padding: 10px;
    background-color: #5da130;
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    position: relative; /* Добавлено для позиционирования */
}

.day span.date {
    position: absolute;
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ справа */
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.day span.events  {
    margin-top: 40px; /* Отступ между датой и количеством занятий */
    font-size: 15px;
    color: black;
}


.day.has-events {
    background-color: #f8c325; /* Желтый цвет для дней с тренировками */
    color: white;
}

.day span {
    display: block;
}

.prevMonth {
    transform: rotate(180deg);
    height: 30px;
    width: 29px;
}

.nextMonth {
    height: 30px;
    width: 29px;
}

h1 {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -400px; 
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    transition: left 0.3s ease;
    z-index: 2;
}

.sidebar.open {
    left: 0; 
}

.sidebar-content {
    padding: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px; 
    font-size: 24px;
    cursor: pointer;
}

h2 {
    margin-top: 40px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #5da130;
}
.btn {
    align-items: center;
    justify-content: center;
    display: inline-block;
}
.btn-primary {
    background-color: #f8c325;
    border: 2px solid white;
    width: 400px;
    text-decoration: none;

}

.btn-primary:hover {
    background-color: #5da130;
    border: 2px solid white;
    text-decoration: none;
}

.btn-primary:focus {
    background-color: #5da130;
    border: 2px solid white;
    text-decoration: none;
}

.btn-primary:focus {
    background-color: #5da130;
    border: 2px solid white;
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.header-icon {
    position: absolute;
    left: 40px; 
    margin-top: 40px;
    width: 171px; 
    height: 87px; 
}

.invalid-day {
    background-color: lightgray; /* Light gray background for invalid days */
    pointer-events: none; /* Prevent clicking */
}

.invalid-day-tag {
    color: lightgray; /* Red text for the "Invalid Day" tag */
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Регулируйте это значение для изменения расстояния между кнопками */
}

.btn-container .btn {
    flex-shrink: 0;
}

.edit-link {
    color: #5da130;
    text-decoration: none;
}

.edit-link:hover {
    color: #f8c325;
    text-decoration: none;
}

.day.today {
    border: 4px solid #f00; /* Красная рамка для выделения текущего дня */
}
