{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'colories/css/styles_colories.css' %}" type="text/css" media="all">
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/i18n/jquery-ui-i18n.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
</head>
<body>
  <script>
    $(document).ready(function() {
      $.datepicker.setDefaults($.datepicker.regional["ru"]);
        // Инициализация календаря
        $('.datepicker').click(function() {
          $('#overlay').fadeIn();
      });
      $('#datepicker').datepicker({
          dateFormat: "dd-mm",
          firstDay: 1,
          onSelect: function(dateText) {
              $('.date .text').text(dateText === $.datepicker.formatDate('dd-mm', new Date()) ? 'СЕГОДНЯ' : dateText);
              $('#overlay').fadeOut();
          },
          beforeShowDay: function(date) {
              if (date.toDateString() === new Date().toDateString()) {
                  return [1, '', 'СЕГОДНЯ'];
              }
              return [1];
          }
        });

        // Обработчик события клика на треугольник
        $('.triangle').click(function() {
            // Отображаем затемнение и всплывающее окно с календарем
            $('#overlay').fadeIn();
        });

        // Закрытие календаря при клике вне всплывающего окна
        $(document).mouseup(function(e) {
            var container = $(".popup");
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('#overlay').fadeOut();
            }
        });
    });
</script>
  
<script>
  $(document).ready(function() {
    // Обработчик события клика на бургерное меню
    $('.burger-menu').click(function(event) {
        event.stopPropagation(); // Остановить всплытие события, чтобы клик на бургерном меню не приводил к закрытию меню
        $('.dropdown-menu').toggle();
    });

    // Обработчик события клика на документ (вне меню)
    $(document).click(function(event) {
        if (!$(event.target).closest('.header').length) { // Проверка, что клик был сделан вне области меню
            $('.dropdown-menu').hide(); // Скрыть меню
        }
    });
});
</script>


  <div class="header">
    <div class="burger-menu">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
    </div>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/expertise/">Тренировки</a>
        <a class="dropdown-item" href="{% url 'index' %}">Главная</a>
        <a class="dropdown-item" href="/fitnes/profile/">Личный кабинет</a>
    </div>
    <a class="logout" href="/fitnes/login/">Выйти</a>
</div>
  


  <div class="col-2">
    <a class="btn btn-primary" href="/admin/">Перейти в <strong>админку</strong></a>
  </div>

  <div class="date">
    <div class="text">СЕГОДНЯ</div>
    <div class="triangle"></div>
</div>

<div class="overlay" id="overlay">
    <div class="popup">
        <div id="datepicker"></div>
    </div>
</div>

<table class="data">
    <tr>
        <td class="column">
          <div class="label colored">Белки</div>
          <div class="value" id="proteins_sum">{{ proteins_sum|floatformat:1 }}</div>
        </td>
        <td class="column">
          <div class="label colored">Жиры</div>
          <div class="value" id="fats_sum">{{ fats_sum|floatformat:1 }}</div>
        </td>
        <td class="column">
          <div class="label colored">Углев</div>
          <div class="value" id="carbs_sum">{{ carbs_sum|floatformat:1 }}</div>
        </td>
        <td class="column">
          <div class="label colored">ККал</div>
          <div class="value" id="calories_sum">{{ calories_sum }}</div>
        </td>
      </tr>
</table>





<div class="left-section">
    <div class="container">
        <div class="food-entry breakfast" id="breakfast">
          <div class="label">Завтрак</div>
          <div class="value proteins" id="proteins">{{ breakfast_data.proteins }}</div>
          <div class="value fats" id="fats">{{ breakfast_data.fats }}</div>
          <div class="value carbs" id="carbs">{{ breakfast_data.carbs }}</div>
          <div class="value calories" id="calories">{{ breakfast_data.calories }}</div>
          <form action="{% url 'meal_record_create' %}" method="get">
              <button class="button_colories" type="submit">+</button>
          </form>
        </div>
    </div>
  <div class="container">
    <div class="food-entry lunch" id="lunch">
        <div class="label">Обед</div>
        <div class="value proteins" id="proteins">{{ lunch_data.proteins }}</div>
        <div class="value fats" id="fats">{{ lunch_data.fats }}</div>
        <div class="value carbs" id="carbs">{{ lunch_data.carbs }}</div>
        <div class="value calories" id="calories">{{ lunch_data.calories }}</div>
        <form action="{% url 'meal_record_create' %}" method="get">
            <button class="button_colories" type="submit">+</button>
        </form>
    </div>
</div>
  <div class="container">
    <div class="food-entry dinner" id="dinner">
        <div class="label">Ужин</div>
        <div class="value proteins" id="proteins">{{ dinner_data.proteins }}</div>
        <div class="value fats" id="fats">{{ dinner_data.fats }}</div>
        <div class="value carbs" id="carbs">{{ dinner_data.carbs }}</div>
        <div class="value calories" id="calories">{{ dinner_data.calories }}</div>
        <form action="{% url 'meal_record_create' %}" method="get">
            <button class="button_colories" type="submit">+</button>
        </form>
    </div>
</div>
  <div class="container">
    <div class="food-entry snack" id="snack">
        <div class="label">Перекус</div>
        <div class="value proteins" id="proteins">{{ snack_data.proteins }}</div>
        <div class="value fats" id="fats">{{ snack_data.fats }}</div>
        <div class="value carbs" id="carbs">{{ snack_data.carbs }}</div>
        <div class="value calories" id="calories">{{ snack_data.calories }}</div>
        <form action="{% url 'meal_record_create' %}" method="get">
            <button class="button_colories" type="submit">+</button>
        </form>
    </div>
  </div>
  <div class="container">
    <div class="food-entry water" id="water">
        <div class="label">Вода</div>
        <div class="value" id="water">{{ water_data.water_l|floatformat:1 }}</div>
        <div class="value">л</div>
        <form action="{% url 'meal_record_create' %}" method="get">
            <button class="button_colories" type="submit">+</button>
        </form>
    </div>
</div>
  <div class="container">
      <div class="food-entry workout">
          <div class="label">Активность</div>
          <div class="value" id="calories">0</div>
          <form action="{% url 'meal_record_create' %}" method="get">
              <button class="button_colories" type="submit">+</button>
          </form>
      </div>
  </div>
<div class="container">
  <div class="food-entry sleep">
      <div class="label">Сон</div>
      <div class="value" id="hours">0</div>
      <div class="value">ч</div>
      <div class="value" id="calories">0</div>
      <form action="{% url 'meal_record_create' %}" method="get">
          <button class="button_colories" type="submit">+</button>
      </form>
  </div>
</div>
</div>


<a class="btn-primary" href="{%url 'meal_record_read' %}">Посмотреть всю еду</a>


<div class="right-section">
  <div class="summary">
      <div class="details">
          <!-- Скрипт для вычисления значений -->
          <script>
              // Получение значений из профиля пользователя и суммарного числа съеденных калорий
              var totalCalories = 2000; // Пример
              var eatenCalories = 1800; // Пример

              // Вычисление оставшихся калорий
              var remainingCalories = totalCalories - eatenCalories;

              // Примерные значения для процентного соотношения белков, жиров и углеводов
              var proteinPercent = 30;
              var fatPercent = 30;
              var carbPercent = 40;

              // Проверка на превышение или недостаток калорий
              var message = "";
              if (eatenCalories < totalCalories) {
                  message = "Вы съели слишком мало! Рекомендуем вам увеличить количество приемов пищи.";
              } else if (eatenCalories > totalCalories * 1.1) {
                  message = "Вы съели слишком много! Рекомендуем вам добавить тренировки.";
              } else {
                  message = "Отлично! Вы уложились в норму калорий! Чтобы получить желаемый результат, продолжайте в том же духе.";
              }
          </script>

          <div>Осталось: <span id="remainingCalories"></span></div>
          <div>Съедено: <span id="eatenCalories"></span></div>
          <div>Всего: <span id="totalCalories"></span></div>
          <div class="macros">
            <div style="color: rgb(248, 195, 37);">Белки: <span id="proteinPercent">{{ protein_percent|floatformat:1 }}</span>%</div>
            <div style="color: rgb(93, 161, 48);">Жиры: <span id="fatPercent">{{ fat_percent|floatformat:1 }}</span>%</div>
            <div style="color: rgb(36, 56, 23);">Углеводы: <span id="carbPercent">{{ carb_percent|floatformat:1 }}</span>%</div>
        </div>
      </div>
      <div class="chart">
        <!-- Pie chart here -->
        <img src="data:image/png;base64,{{ macronutrient_chart_data }}" alt="Процентное соотношение БЖУ">
      </div>
  </div>
  <div class="graph">
    <!-- Graph here -->
    <img src="data:image/png;base64,{{ calories_chart_data }}" alt="График калорийности"> 
  </div>
  <div class="container_message"></div>
</div>

<!-- Скрипт для построения круговой диаграммы -->
<!-- Удален, так как делаем с помощью питона -->
<script>
    // Установка значений в HTML
    document.getElementById('remainingCalories').innerText = remainingCalories;
    document.getElementById('eatenCalories').innerText = eatenCalories;
    document.getElementById('totalCalories').innerText = totalCalories;
    document.getElementById('proteinPercent').innerText = proteinPercent;
    document.getElementById('fatPercent').innerText = fatPercent;
    document.getElementById('carbPercent').innerText = carbPercent;
    document.getElementById('message').innerText = message;
  </script>
  
  <script>
      $(document).ready(function() {
          // Получение данных из контекста
    var breakfastProteins = parseFloat("{{ breakfast_data.proteins|floatformat:1 }}");
    var breakfastFats = parseFloat("{{ breakfast_data.fats|floatformat:1 }}");
    var breakfastCarbs = parseFloat("{{ breakfast_data.carbs|floatformat:1 }}");
    var breakfastCalories = parseInt("{{ breakfast_data.calories }}");
    var lunchProteins = parseFloat("{{ lunch_data.proteins|floatformat:1 }}");
    var lunchFats = parseFloat("{{ lunch_data.fats|floatformat:1 }}");
    var lunchCarbs = parseFloat("{{ lunch_data.carbs|floatformat:1 }}");
    var lunchCalories = parseInt("{{ lunch_data.calories }}");
    var dinnerProteins = parseFloat("{{ dinner_data.proteins|floatformat:1 }}");
    var dinnerFats = parseFloat("{{ dinner_data.fats|floatformat:1 }}");
    var dinnerCarbs = parseFloat("{{ dinner_data.carbs|floatformat:1 }}");
    var dinnerCalories = parseInt("{{ dinner_data.calories }}");
    var snackProteins = parseFloat("{{ snack_data.proteins|floatformat:1 }}");
    var snackFats = parseFloat("{{ snack_data.fats|floatformat:1 }}");
    var snackCarbs = parseFloat("{{ snack_data.carbs|floatformat:1 }}");
    var snackCalories = parseInt("{{ snack_data.calories }}");
    var water_l = parseFloat("{{ water_data.water_l|floatformat:2 }}");
    var proteinPercent = parseFloat("{{ protein_percent|floatformat:1 }}"); 
    var fatPercent = parseFloat("{{ fat_percent|floatformat:1 }}"); 
    var carbPercent = parseFloat("{{ carb_percent|floatformat:1 }}");
    // Заполнение полей
    $('#breakfast #proteins').text(breakfastProteins);
    $('#breakfast #fats').text(breakfastFats);
    $('#breakfast #carbs').text(breakfastCarbs);
    $('#breakfast #calories').text(breakfastCalories);
    $('#lunch #proteins').text(lunchProteins);
    $('#lunch #fats').text(lunchFats);
    $('#lunch #carbs').text(lunchCarbs);
    $('#lunch #calories').text(lunchCalories);
    $('#dinner #proteins').text(dinnerProteins);
    $('#dinner #fats').text(dinnerFats);
    $('#dinner #carbs').text(dinnerCarbs);
    $('#dinner #calories').text(dinnerCalories);
    $('#snack #proteins').text(snackProteins);
    $('#snack #fats').text(snackFats);
    $('#snack #carbs').text(snackCarbs);
    $('#snack #calories').text(snackCalories);
    $('#water #water').text(water_l);    
    $('#proteinPercent').text(proteinPercent);
    $('#fatPercent').text(fatPercent);
    $('#carbPercent').text(carbPercent);
      });
  </script>
</body>
</html>
{% endblock content %}