{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/forms.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}" type="text/css" media="all">
<body>
    <div class="page-wrapper">
        <div class="container">
            <div class="form-container">
                <form method="post" class="login-form">
                    <div class="text-wrapper">
                        <h2>Авторизация</h2>
                    </div>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="button-wrapper">
                        <button type="submit">Войти</button>
                    </div>
                </form>
                <div class="login-text">
                    <p>СУПЕР ДУПЕР ИКОНКА</p>
                    <p>Добро пожаловать! Пожалуйста, введите свои учетные данные, чтобы войти в систему. Если у вас нет учетной записи, пожалуйста, зарегистрируйтесь.</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}