{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'Main/css/forms.css' %}" type="text/css" media="all">
<body>
    <h1>Профиль пользователя</h1>
    <div>
        <h2>Основная информация</h2>
        <p>Имя пользователя: {{ profile.user.username }}</p>
        <p>Email: {{ profile.user.email }}</p>
        <p>Телефон: {{ profile.phone }}</p>
        {% if profile.type == 'expert' %}
            <p>Ваша роль: эксперт</p>
        {% else %}
            <p>Ваша роль: пользователь</p>
        {% endif %}
        <a href="{% url 'profile_edit' %}" class="btn btn-primary">Редактировать профиль</a>
    </div>

    <a class="btn btn-primary" href="{% url 'index-progress' %}">Подробнее про цели (перейти в контекст Progress)</a>
    
    <div>
        <h2>Профиль калорий</h2>
        {% if calory_profile %}
            <p>Пол: {{ calory_profile.gender }}</p>
            <p>Рост: {{ calory_profile.height }} см</p>
            <p>Don't forget about age</p>
            <p>Активность: {{ calory_profile.activity_level }}</p>
            <a href="{% url 'calory_profile_edit' %}" class="btn btn-primary">Редактировать профиль калорий</a>
            <a href="{% url 'tracking_current_weight' %}" class="btn btn-secondary">Отслеживать вес</a>
        {% else %}
            <p>Профиль калорий еще не создан.</p>
            <a href="{% url 'profile_create' %}" class="btn btn-secondary">Создать профиль калорий</a>
        {% endif %}
    </div>
</body>
{% endblock content %}