{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/forms.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'main/css/register.css' %}" type="text/css" media="all">
<body>
    <div class="main-container">
        <h2>Регистрация</h2>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Регистрация</button>
            </form>
        </div>
        <div class="register-text">
            Станьте частью [название проекта] сегодня!
            Зарегистрируйтесь за несколько минут и откройте для себя [указать ключевую ценность проекта].
        </div>
    </div>
</body>
{% endblock content %}
