.logo-top {
    height: 35px;
    width: 94px;
    margin-top: -8px;
    margin-left: 46%;
    
}

.header {
    background-color: #5DA130;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    align-content: center;
}

.header div {
    font-size: 15px;
    text-align: left;
}

.logout {
    margin-left: 600px;
    color: white;
    color: white;
    justify-content: right;
}

.logout:hover {
    text-decoration: none;
    color: lightgray;
    justify-content: right;
}

.burger-line {
    background-color: white;
}