body {
    overflow:hidden;
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
    padding: 20px; 
    position: relative;
}
.container-log {
    background-color: #faf7f7;
    box-shadow: 0 0 10px #5da130;
    padding-left: 30px; 
    padding-right: 0px;
    max-width: 800px; 
    width: 100%;
    box-sizing: border-box; 
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.login-form, .login-text {
    flex: 1;
    margin: 0 20px;
    font-family: Arial, sans-serif;
}

.login-form {
    max-width: 50%;
}

.login-text {
    flex: 2;
    height: 320px;
    width: 50%;
    background: linear-gradient(to bottom left, #5da130, #F8C325);
    color: white;
    font-size: medium;
    padding: 20px; 
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.login-form p {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-form button {
    display: block;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.text-button{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 12px;
    margin-right: 5px;
    font-family: Arial, sans-serif;
}

.button-wrapper{
    margin-top: 0px;
    font-family: Arial, sans-serif;
}

.btn_btn-primary{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding-right: 40px;
    background-color: #F8C325;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    line-height: 5px;
    text-decoration: none !important;
}

.btn_btn-primary:hover {
    background-color: #5da130;
}

.errorlist{
    font-size: medium;
    font-family: Arial, sans-serif;
}

.logo img{
    width: 300px;
    height: 108px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 40px;
    height: 40px;
    position: relative;
}

.btn-next img {
    width: 40px;
    height:40px;
}

.btn-forgot {
    text-decoration: none;
    color: #333;
}
