.btn-secondary{
    width: 50%;
    margin-left: 10px;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}

form button[type="submit"] {
    width: 50%;
    height: 100%;
    background-color: #f8c325;
    color: white;
    font-size: large;
    padding: 7px 25px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Запрещает перенос строк */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст переполняет */
    overflow: hidden; /* Обрезает текст, если он выходит за границы кнопки */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-text {
    height: 100%;
}