body {
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
}

header {
    background-color: #5da130;
}

.btn-primary{
    width: 100%;
    height: 100%;
    background-color: #5da130;
    color: white;
    font-size: large;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding: 7px 25px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    font-family: Arial, sans-serif;
    border: 2px solid white;
}

.btn-primary:hover {
    background-color: #f8c325;
    border: 2px solid white;
}

.btn-secondary{
    width: 100%;
    height: 100%;
    background-color: #f8c325;
    color: white;
    font-size: large;
    padding-left: 50px;
    padding-top: 7px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding: 7px 25px;
    margin-top: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
    font-family: Arial, sans-serif;
    border: 2px solid white;
}

.btn-secondary:hover {
    background-color: #5da130;
    border: 2px solid white;
}

.btn_btn-primary{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding-right: 40px;
    background-color: #F8C325;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    line-height: 5px;
    text-decoration: none !important;
    border: 2px solid white;
}

.btn_btn-primary:hover {
    background-color: #5da130;
    color: white;
    border: 2px solid white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #5da130;
    font-size: 40px;
}
