html, body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    position: relative;
    justify-content: space-between;
}

.header {
    background-color: #5DA130;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
}

.header div {
    font-size: 15px;
    text-align: left;
}

a {
    color: #fff;
    text-decoration: none;
}

.left-section {
    width: 45%; 
    float: left; 
    background-color: #f0f0f0;
    padding: 20px; 
}

.right-section {
    width: 48%; 
    float: right; 
    background-color: #f0f0f0;
    padding: 0px; 
}
.container {
    margin-bottom: 15px; 
}

.food-entry {
    background-color: #fff;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 15px;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 2px;
    border-top: none;
    border-bottom: none;
}

.summary .chart {
    flex: 1;
}

.summary .details {
    flex: 2;
    padding: 2px; 
    text-align: left; 
}

.summary .details .macros {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.summary .details .macros div {
    text-align: left; 
    margin-bottom: 5px; 
}

.summary .details #message {
    text-align: left; 
}

.graph {
    width: calc(50% - 20px); 
    padding-right: 20px; 
}

.button_colories {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    background-color: #F8C325; 
    border: none; 
    color: white; 
    font-size: 30px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    padding: 0;
    line-height: 1px; 
    margin-top: 40%;
}

.food-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    flex: 1;
    margin-right: 40px;
}

.value {
    min-width: 50px; 
    text-align: center;
    margin-right: 39px; 
    grid-template-columns: repeat(5, 1fr); 
}

.button_colories {
    margin-left: 10px; 
}

.breakfast .label {
    color: #F8C325; 
}

.lunch .label {
    color: #CE3C3C; 
}

.dinner .label {
    color: #0E4128; 
}

.snack .label {
    color: #A043C0; 
}

.water .label {
    color: #1E90FF; 
}

.workout .label {
    color: #32CD32; 
}

.sleep .label {
    color: #1E1E1E; 
}

.col-2 {
    color: black;
}


  .data {
    border: none;
    margin-left: 270px;
    text-align: center;
    margin-top: 15px;
    width: 35px;
    font-size: 17px;
  }

  .data td {
    border: none;
  }
  .data .colored {
    color: #959595;
}

.data .label {
    margin-bottom: 5px; 
}

.date{
    background-color: #5DA130;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    align-items: center;
    height: 20px;
    color: white;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid white; 
    display: inline-block; 
    cursor: pointer; 
    margin-left: 10px;
}
.text{
    display: inline-block;
}

#datepicker {
    display: none;
}

#datepicker {
    z-index: 1001; 
    background-color: #fff; 
    align-items: center;
    display: block; 
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Стили для всплывающего окна */
.popup {
    background: white;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
    width: 300px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 125px;
    margin-left: 40%;
    align-items: center;
}

.date {
    display: flex;
    align-items: center;
}


.container_message {
    background-color: #fff;
    border: 2px solid #F8C325;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 150px;
    margin-top: 130px;
    width: 500px;
    align-items: center;
    }


.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

.burger-line {
    width: 100%;
    height: 3px; 
    background-color: #ffffff;
    margin: 1px 0; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
    margin-right: 10px;
  }

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

.logout {
    margin-left:auto;
    color: white;
    padding: 20px;
}

.ui-datepicker-header {
    background-color: #5DA130; /* Цвет фона заголовка календаря */
    color: white; /* Цвет текста заголовка календаря */
}

.ui-datepicker-calendar {
    background-color: #5DA130; /* Цвет фона календаря */
    color: white;
}

.ui-datepicker-calendar tbody td {
    background-color: #5DA130;
    color: white;
}

.ui-datepicker-calendar tbody td.ui-datepicker-current-day {
    background-color: #F8C325; /* Цвет фона текущего дня */
}

.ui-datepicker-calendar td {
    background-color: #f0f0f0; /* Цвет фона ячеек календаря */
    color: black; /* Цвет текста в ячейках календаря */
}

.back-link:hover {
    text-decoration: underline;
    color: #388e3c;
}

.cta-img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
}

.logo-top {
    height: 35px;
    width: 94px;
    margin-top: -8px;
    margin-left: 46%;
    
}