.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; 
    padding: 20px; 
}
.container-edit {
    background-color: #faf7f7;
    box-shadow: 0 0 10px #5da130;
    padding: 30px; 
    max-width: 800px; 
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.login-edit, .login-text {
    flex: 1;
    margin: 0 20px;
    width: 100%;
}

.login-edit {
    max-width: 50%;
}

.login-text {
    flex: 2;
    height: 290px;
    width: 100%;
    background: linear-gradient(to bottom left, #5da130, #F8C325);
    color: white;
    font-size: medium;
    padding: 15px; 
    border-radius: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.login-form p {
    margin: 0;
}

.login-form button {
    display: block;
    margin-top: 10px;
}

.text-button {
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 12px;
    margin-right: 5px;
}

.button-wrapper {
    margin-top: 50px;
}

.btn_btn-primary {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    padding-right: 40px;
    background-color: #F8C325;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    line-height: 5px;
    text-decoration: none !important;
}

.btn_btn-primary:hover {
    background-color: #5da130;
}

.hidden-checkbox {
    display: none;
}

.btn-btn-primary{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: large;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding: 7px 25px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45); 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}