.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: #f0f0f0; 
    padding: 20px; 
}
h1 {
    padding-left: 20px;
    padding-top: 20px;
}

.container-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}

.container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.container-second{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.container-second-first,
.container-second-second,
.container-second-third {
    width: 28%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45); 
    margin: 20px;
    flex: 1;
    position: relative;
}

.container-text-head{
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    margin: 10px;
    justify-content: baseline;
    font-family: 'Oswald', sans-serif;
    color: #5da130;
}

.wrapper-second{
    margin: 10px;
}

.container-text-base{
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
    margin: 10px;
    justify-content: baseline;
    font-family: Arial, sans-serif;
}

.btn-btn-primary{
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: large;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 100px;
    padding: 7px 25px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.45); 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.btn-btn-primary:hover {
    color: #5DA130;
    border: 2px solid #5DA130;
}

.btn-secondary{
    margin: 10px;
}

.btn-next img {
    width: 40px;
    height:40px;
}

.container-text-button{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-right: 5px
}

.button-wrapper {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

.container-second-button{
    display: flex;
    flex-direction: row;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    justify-content: space-between; 
    margin-top: 130px; 

}

.container-third{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.container-third-first{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45); 
    margin: 20px;
    flex: 1;
    position: relative;
}

.container-third-text-head{
    font-family: Inter;
    font-weight: 400;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: baseline;
}

.container-third-text-head{
    display: flex;
    flex-direction: row;
}

.wrapper-img img{
    max-width: 50px;
    margin-right: 10px;
}

