{% extends "main/base.html" %}

{% block content %}
<body>
  <div class="container">
    <h1>
      {{ message }}
    </h1>
  </div>

  <!--Создание меню адресации по приложению и его ключевыми страницами -->
  <div class="col">
    <div class="row-3">
      <a href="/colories/">Приложение Colories</a>
    </div>
    <div class="row-3">
      <a href="/activity/">Приложение Activity</a>
    </div>
    <div class="row-3">
      <a href="/expertise/">Приложение Expertise</a>
    </div>
  </div>

  <a class="btn btn-primary" href="{% url 'create_goal' %}">Создать цель</a>
  <h2>Мои цели:</h2>
    <ul>
        {% for goal in goals %}
            <li>
                <strong>{{ goal.description }}</strong><br>
                <p>All fields are available</p>
                Стартовый вес: {{ goal.start_weight }} кг<br>
                Текущий вес: {{ goal.current_weight }} кг<br>
                Целевой вес: {{ goal.target_weight }} кг<br>
                Статус: {{ goal.get_status_display }}<br>
                <!-- Кнопка для редактирования -->
                <a class="btn btn-primary" href="{% url 'edit_goal' pk=goal.pk %}">Редактировать</a><br>
                <a class="btn btn-primary" href="{% url 'delete_goal' pk=goal.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

</body>
{% endblock content %}